{% extends 'template.html.twig' %}
{% set user = result.userInfo %}
{

{%  block title %} Mes produits {% endblock %}

{%  block content %}
    <div class='generalContentMyProducts'>
        <h1>Mes produits</h1>

        <div class='formSearchMyProduct'>
            <input type='text' placeholder='Nom ou code EAN' class='inputSearchMyProduct'/>
            <select class='searchIndexMyProduct'>
                <option value='All'>Tout</option>
                <option value='Jewelry'>Bijoux</option>
                <option value='DVD'>DVD</option>
                <option value='Electronics'>Electroniques</option>
                <option value='VideoGames'>Jeux vidéos</option>
                <option value='Toys'>Jouets</option>
                <option value='Books'>Livres</option>
                <option value='Music'>Musiques</option>
                <option value='Apparel'>Vêtements</option>
            </select>
        </div>

        <div class='resultSearch'></div>
    </div>

    <div class='popin'></div>
    <div class='contentPopin'>
        <img src='/images/close.png' title='Fermer' class='closePopin'/>
        <div class='left'>
            <div class='principalImg'>
                <div class='vAlign'></div>
                <img class='imgProductDetail'>
            </div>
            <div class='imagesProduct'></div>
        </div>
        <div class='right'>
            <h1></h1>

            <div class='detailPage'>
                <div><div>EAN</div>:<span class='codeEAN'></span></div>
                <div class='divPublic'><div>Public</div>:<span class='public'></span></div>
                <div class='divActors'><div>Acteur(s)</div>:<span class='actors'></span></div>
                <div class='divBrand'><div>Marque</div>:<span class='brand'></span></div>
                <div class='divRelease'><div>Sortie</div>:<span class='release'></span></div>
                <div class='divFeature'><div>Description</div>:<span class='feature'></span></div>
                <div><div>Groupe</div>:<span class='group'></span></div>

                <div class='actionPopin'>
                    <a href='#'>Plus d'informations</a>
                    <input class='removeProdut' type='reset' value='Suppimer'/>
                </div>
            </div>
        </div>
    </div>

    <div class='popinResult'></div>


{% endblock %}
