{% extends 'template.html.twig' %}
{% set user = result.userInfo %}
{

{%  block title %} Mes produits {% endblock %}

{%  block content %}
    <div class='generalContentMyProducts'>
        <h1>Mes produits</h1>

        <div class='formSearchProduct'>
            <input type='text' placeholder='Nom ou code EAN' class='inputSearch'/>
            <select class='searchIndex'>
                <option value='All'>Tout</option>
                <option value='Jewelry'>Bijoux</option>
                <option value='DVD'>DVD</option>
                <option value='Electronics'>Electroniques</option>
                <option value='VideoGames'>Jeux vidéos</option>
                <option value='Toys'>Jouets</option>
                <option value='Books'>Livres</option>
                <option value='Music'>Musiques</option>
                <option value='Apparel'>Vêtements</option>
            </select>
        </div>

        <div class='resultSearch'>Aucun produit trouvé !</div>

    </div>


{% endblock %}
