{% extends 'template.html.twig' %}

{%  block title %} Login {% endblock %}

{%  block content %}
    {#Div d'alert d'etat de login ou registre #}
    {% if result.etat is defined %}
        {% if result.etat == 0 %}
            <div class='divEtatLoginNok'>
        {% elseif result.etat == 1%}
            <div class='divEtatLoginOk'>
        {% endif %}
            {{ result.msg }}
        </div>
    {% endif %}

    <div class='contentLogin'>
        <h1 class='titleForm'></h1>

        <form method='POST' class="formLogin">
            <input type='text' name='pseudo' class='pseudo' required />
            <input type='password' name='pwd' class='pwd' minlength='7' required />

            {# if registrer #}
            <div class='onlyRegisterInput'>
                <input type='password' name='pwd2' class='pwd2' placeholder='Confirmer mot de passe' />
                <input type='text' name='lastname' placeholder='Nom' class='lastnameRegister' />
                <input type='text' name='firstname' placeholder='Prénom' class='firstnameRegister'/>
                <input type="radio" name="gender" value='true' checked='true' />Homme
                <input type="radio" name="gender" value='false' class='radioF' />Femme

                <input type='email' name='mail' class='mail' placeholder='Email' />
                <input type='text' name='numberphone' placeholder='Mobile' class='mailRegister'/>

            </div>
            {# endIf registrer #}

            <div class='linkRegister'>
                <a href='#' class='loginRegister'></a> / <a href='' class='forgotPwd' title='Mot de passe oublié ? Recevez le par mail !'>mdp oublié</a>
            </div>

            <input type='hidden' name='actionForm' class='actionForm' />
            <input type='reset' value='Annuler' class='spaceLogin' />
            <input type='submit' value="S'enregistrer" class='submitFormLogin' />
        </form>
    </div>


{% endblock %}