{% extends 'template.html.twig' %}
{% set user = result.userInfo %}
{

{%  block title %} Mon historique {% endblock %}

{%  block content %}
    <div class='generalContentHistory'>
        <h1>Mon historique</h1>

        <div class="resultSearch">Aucun échange en cours</div>
    </div>

{% endblock %}
