{% extends 'template.html.twig' %}
{% set user = result.userInfo %}

{%  block title %} En cours {% endblock %}

{%  block content %}
    <div class='generalContentInProgress'>
        <h1>En cours</h1>

    </div>

{% endblock %}
