{% extends 'template.html.twig' %}
{% set user = result.userInfo %}

{%  block title %} En cours {% endblock %}

{%  block content %}
    <div class='generalContentInProgress'>
        <h1>En cours</h1>

        <div class="resultSearch">Aucun échange en cours</div>
    </div>

{% endblock %}
