{% extends 'template.html.twig' %}
{% set user = result.userInfo %}

{%  block title %} Mes demandes {% endblock %}

{%  block content %}
    <div class='generalContentMyRequest'>
        <h1>Mes demandes</h1>

        <div class="resultSearch">Aucun échange en cours</div>
    </div>

{% endblock %}
