{% extends 'template.html.twig' %}

{%  block title %} Accueil {% endblock %}

{%  block content %}

    <h1>Bienvenue sur l'application l'ibrarizeMe qui permet de ... </h1>
    <a href="/user/login">Se connecter / S'enregistrer</a>

{% endblock %}