{% extends 'template.html.twig' %}

{%  block title %} Accueil {% endblock %}

{%  block content %}

    <h1>Bienvenue sur l'application l'ibrarizeMe qui permet de ... </h1>
    <input type='submit' value='Sign in / Sign up' class='menuNav' data='/user/login'>

{% endblock %}