{% extends 'template.html.twig' %}

{%  block title %} Login {% endblock %}

{%  block content %}
    {#Div d'alert d'etat de login ou registre #}
    {% if result.etat is defined %}
        {% if result.etat == 0 %}
            <div class='divEtatLoginNok'>
        {% elseif result.etat == 1%}
            <div class='divEtatLoginOk'>
        {% endif %}
            {{ result.msg }}
        </div>
    {% endif %}

    <div class='contentLogin'>
        <h1 class='titleForm'></h1>

        <form method='POST' class="formLogin">
            <input type='text' name='pseudo' class='pseudo' required />
            <input type='password' name='pwd' class='pwd' required />
            <input type='password' name='pwd2' class='pwd2' />

            <a href='#' class='loginRegister'></a>

            <input type='hidden' name='actionForm' class='actionForm' />
            <input type='reset' value='Annuler' class='spaceLogin' />
            <input type='submit' value="S'enregistrer" class='submitFormLogin' />
        </form>
    </div>

{% endblock %}