<!DOCTYPE html>

<html>
    <head>
        <title> LibrarizeMe : {% block title %}{% endblock %}</title>
        <link rel='stylesheet' type='text/css' href='stylesheets/style.css'>
    </head>

    <body>
        <div id='content'>
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div id='footer'>Ici le pied de page</div>
        </footer>
    </body>

</html>
