
// HEADER
$logo-brand-header: '\e900';
$ico-libraryLeft-header: '\e902';
$ico-libraryRight-header: '\e901';

//GENERAL
$color-corporate-one: #092D3D;
$color-corporate-two: #FF6664;
$color-corporate-three: #FFFFFF;
$color-font-content-gray: rgba(204, 204, 204, 0.9);
$color-font-content-white: #FFFFFF;
$color-subTitle: #A52A2A;

//ALERT
$color-success: #3C763D;
$color-background-success: #DFF0F8;
$color-border-success: #D6D9C6;

$color-danger: #A94442;
$color-background-danger: #F2DDED;
$color-border-danger: #EBCCD1;




//FORM
input[type='text'],
input[type='password'],
input[type='email'] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 32%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
}

input[type='submit'],
input[type='reset'] {
    color: #FFFFFF;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

input[type='submit']:disabled {
    background: #DDDDDD;
}

input[type='submit'] {
    background-color: #337ab7;
}

input[type='reset'] {
    background-color: #d9534f;
}

button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

select {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
