@font-face {
  font-family: 'librarize';
  src:  url('../images/librarize.eot?p5irvb');
  src:  url('../images/librarize.eot?p5irvb#iefix') format('embedded-opentype'),
  url('../images/librarize.ttf?p5irvb') format('truetype'),
  url('../images/librarize.woff?p5irvb') format('woff'),
  url('../images/librarize.svg?p5irvb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}