@import 'base';

.generalContentSearchUsers {
    text-align: center;
    min-height: 300px;

    .searchFriendsInputDiv {
        margin-bottom: 40px;
    }

    .resultSearchNoUser {
        font-size: 35px;
        height: 100px;
        margin-top: 50px;
    }

    .resultSearchUser {
        width: 70%;
        margin: 0px auto;

        .oneUser {
            width: 20%;
            display: inline-block;
            padding-bottom: 50px;
            img {
                display: block;
                margin: 0px auto;
            }
            span {
                font-size: 24px;
                font-weight: bold;
                img {
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: middle;
                    padding-bottom: 7px;
                    padding-left: 10px;
                }
            }
        }
    }
}

.generalContentMyFriends {
    text-align: center;
}

.generalContentMyFriends,
.generalContentSeeInvitation {
    min-height: 300px;

    .content {
        width: 80%;
        margin: 0px auto;

        .invitationType {
            color: black;
            div:first-child {
                font-weight: bold;
                font-size: 20px;
                color: $color-subTitle;
                padding: 20px 0px;
            }

            .noBodyFriend {
                color: $color-subTitle;
                padding: 20px 0px;
                font-size: 22px !important;
                font-weight: bold;
            }

            .oneUser {
                width: 19%;
                display: inline-block;
                padding-bottom: 30px;

                img {
                    display: block;
                    margin: 0px auto;
                }
                span {
                    font-size: 24px;
                    font-weight: bold;
                    text-align: center;
                    display: block;
                    color: black;

                    img {
                        cursor: pointer;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    img.libraryImg {
                          width: 25px;
                    }

                    img.imgDelFriend {
                        width: 18px;
                    }
                }
            }
        }
    }
}

.contentPopinFriendLibrary {
    width: 60%;
    background-color: $color-font-content-gray;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 2;
    padding: 20px;

    img.closePopin {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    .resultSearchFriendProduct {
        .oneProduct {
            width: 18%;
            display: inline-block;
            margin: 25px 10px;
            img {
                width: 100%;
            }
        }
    }
}