@import 'base';

.content {
    .contentLogin {
        background-color: $color-font-content-gray;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        border-radius: 15px;
        margin-top: 10%;

        h1 {
            text-align: center;
        }

        form {
            text-align: center;

            .spaceLogin {
                margin-right: 25px;
            }

            .loginRegister {
                display: block;
                margin-bottom: 20px;
            }

            input[type='radio'] {
                margin-bottom: 15px;
            }

            .radioF {
                margin-left: 20px;
            }

            .linkRegister {
                a {
                    display: inline-block;
                }
            }
        }
    }

    .divEtatLoginOk,
    .divEtatLoginNok {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 33%;
        text-align: center;
        font-size: 20px;
        padding: 3px;
        border-radius: 5px;
        margin-bottom: -6.85%;
    }

    .divEtatLoginOk {
        color: $color-success;
        background-color: $color-background-success;
        border-color: $color-border-success;
    }

    .divEtatLoginNok {
        color: $color-danger;
        background-color: $color-background-danger;
        border-color: $color-border-danger;
    }
}

//Fenetre forgotPwd
.bgdForgotPwd {
    color: $color-corporate-three;
    background-color: #B72F6B;
    text-align: center;
    .titleForgotPwd {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .infoForgotPwd {
        width: 50%;
        margin: 0 auto 0 auto;
        margin-bottom: 4px;
    }

    input[type='submit'],
    input[type='reset'] {
        margin-top: 10px;
    }

    input[type='reset'] {
        margin-right: 10px;
    }
}