.generalContentMyProducts {
    text-align: center;

    .formSearchMyProduct {
        input,
        select {
            display: inline-block;
        }
    }

    .resultSearch {
        margin-top: 50px;
        font-size: 24px;
        font-weight: bold;

        .oneProduct {
            width: 20%;
            display: inline-block;
            padding-bottom: 50px;

            img.principal{
                display: block;
                margin: 0px auto;
                cursor: pointer;
                width: 50%;
                max-height: 190px;
            }
            img.del,
            img.imgEtat {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                padding-bottom: 2px;
                padding-left: 10px;
                width: 17px;
            }

            div {
                display: none;
            }

            span[title]:hover:before {
                cursor: default;
                content: attr(title);
                margin-left: 0px;
                margin-top: 0px;
                position: absolute;
                z-index: 20;
                white-space: nowrap;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-box-shadow: 0px 0px 4px #222;
                -webkit-box-shadow: 0px 0px 4px #222;
                box-shadow: 0px 0px 4px #222;
                background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
                background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
                background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
                background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
                background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
            }
        }
    }
}

.popinResult {
    position: fixed;
    top: 40%;
    left: 35%;
    z-index: 3;
    font-size: 230%;
    text-align: center;
    border-radius: 10px;
    padding: 5px 30px;
}