.generalContentProductSearch {
    text-align: center;

    .formSearchProduct {
        input,
        select {
            display: inline-block;
        }
    }

    .resultSearch {
        margin-top: 50px;
        font-size: 24px;
        font-weight: bold;

        .oneProduct {
            width: 20%;
            display: inline-block;
            padding-bottom: 50px;

            img {
                display: block;
                margin: 0px auto;
                cursor: pointer;
            }
            span {
                img {
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: middle;
                    padding-bottom: 7px;
                    padding-left: 10px;
                }
            }
            
            div {
                display: none;
            }

            span[title]:hover:before {
                cursor: default;
                content: attr(title);
                margin-left: 0px;
                margin-top: 0px;
                position: absolute;
                z-index: 20;
                white-space: nowrap;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                -moz-box-shadow: 0px 0px 4px #222;
                -webkit-box-shadow: 0px 0px 4px #222;
                box-shadow: 0px 0px 4px #222;
                background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
                background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
                background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
                background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
                background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
            }
        }
    }

    .popin {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(9, 45, 61,0.9);
        top: 0;
        left: 0;
        z-index: 1;
    }
    .contentPopin {
        width: 60%;
        height: 60%;
        background-color: $color-font-content-gray;
        position: fixed;
        top: 20%;
        left: 20%;
        z-index: 2;

        .left {
            border: 1px solid black;
            width: 30%;
            display: inline-block;

            .imgProductDetail {
                width: 60%;
            }

            .imagesProduct {
                border: 1px solid black;
            }
        }
        .right {
            border: 1px solid black;
            width: 69%;
            display: inline-block;
            vertical-align: top;
        }
    }
}

