@import 'base';

body {
    background-color: #092D3D;
    background-image: url("/images/background.jpg");

    .popin,
    .contentPopin,
    .popinResult,
    .contentPopinFriendLibrary {
        display: none;
    }

    header {
        font-family: 'librarize';
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 60px;

        .nameOrganization {
            display: inline-block;
            color: $color-corporate-three;
            &:before {
                content: $logo-brand-header;
            }
        }

        .libraryLeftIcon {
            display: inline-block;
            color: $color-corporate-two;
            &:before {
                content: $ico-libraryLeft-header;
            }
        }

        .libraryRightIcon {
            display: inline-block;
            color: $color-corporate-two;
            &:before {
                content: $ico-libraryRight-header;
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0px;
        width: 80%;
        text-align: center;
        color: $color-corporate-one;
        font-size: 14px;
        right: 10%;
        background-color: $color-font-content-gray;
        padding: 5px 0px;
        border-radius: 7px
    }

    .menuDiv {
        background-color: $color-font-content-gray;
        width: 80%;
        margin: 0px auto;
        height: 35px;
        line-height: 35px;
        border-radius: 7px;
        text-align: center;
        font-weight: bold;
        ul {
            padding: 0px;
            .titleMenu {
                display: inline-block;
                list-style-type: none;
                width: 19%;
                cursor: pointer;
                vertical-align: top;
                position: relative;
                
                ul {
                    display: none;
                    text-align: left;
                    li {
                        display: block;
                        width: 100%;
                        background-color: $color-corporate-three;
                        height: 40px;
                        border-radius: 5px;
                        margin-top: 5px;
                        line-height: 35px;
                        box-shadow: inset -6px -6px 5px 0px #656565;
                        div {
                            width: auto;
                            padding-left: 15px;
                        }
                    }
                }
            }

            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    .generalContent,
    .generalContentSearchUsers,
    .generalContentSeeInvitation,
    .generalContentMyFriends,
    .generalContentProductSearch,
    .generalContentMyProducts,
    .generalContentMyRequest,
    .generalContentInProgress,
    .generalContentHistory {
        background-color: $color-font-content-gray;
        width: 80%;
        margin: 0px auto;
        border-radius: 5px;

        padding-bottom: 25px;

        h1:first-child {
            text-align: center;
        }
    }
}

.msgInfo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    opacity: 0;
    z-index: 5;
}

.msgInfoOk {
    color: $color-success;
    background-color: $color-background-success;
    border-color: $color-border-success;
}

.msgInfoNok {
    color: $color-danger;
    background-color: $color-background-danger;
    border-color: $color-border-danger;
}

