@import 'base';

.generalContent {
    text-align: center;

    .msgUpdateUser {
        margin-left: auto;
        margin-right: auto;
        width: 33%;
        text-align: center;
        font-size: 20px;
        padding: 3px;
        border-radius: 5px;
        //visibility: hidden;
        height: 24px;
    }

    .msgOk {
        color: $color-success;
        background-color: $color-background-success;
        border-color: $color-border-success;
    }

    .msgNok {
        color: $color-danger;
        background-color: $color-background-danger;
        border-color: $color-border-danger;
    }

    .formUpdateUserInformations{
        input[type='reset'] {
            margin-right: 5%;
        }

        .userInformations {
            padding-top: 4%;

            .userInformationsLeft,
            .userInformationsRight {
                width: 35%;
                display: inline-block;
                vertical-align: top;
                text-align: center;

                .radioF {
                    margin-left: 20px;
                }
            }

            .userInformationsLeft {
                margin-right: 10%;

                .userInformations {
                    margin-top: -12%;
                }
            }

            span {
                display: block;
                margin-bottom: 30px;

                label {
                    display: inline-block;
                    width: 60px;
                    font-weight:bold;
                    text-align: left;
                }

                input[type='text'],
                input[type='email'] {
                    display: inline-block;
                    width: 50%;
                }
            }
        }
    }
}

.contentChangePwd {
    .formForgotPwd {
        input[type='password'] {
            width: 230px;
        }

        //input[type='submit'] {
        //    width: 230px;
        //}

        .changePwdStep2 {
            display: none;
        }
    }
}