@charset "UTF-8";
input[type='text'], input[type='password'], input[type='email'] { display: block; margin-right: auto; margin-left: auto; margin-bottom: 10px; width: 32%; font-size: 16px; border: none; border-radius: 5px; height: 30px; padding-left: 10px; }

input[type='submit'], input[type='reset'] { color: #FFFFFF; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: bold; line-height: 1.5; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: 4px; }

input[type='submit']:disabled { background: #DDDDDD; }

input[type='submit'] { background-color: #337ab7; }

input[type='reset'] { background-color: #d9534f; }

button { color: #fff; background-color: #5cb85c; border-color: #4cae4c; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: bold; line-height: 1.5; text-align: center; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: 4px; }

.content .contentLogin { background-color: #CCCCCC; width: 33%; margin-left: auto; margin-right: auto; padding-bottom: 20px; border-radius: 15px; margin-top: 10%; }
.content .contentLogin h1 { text-align: center; }
.content .contentLogin form { text-align: center; }
.content .contentLogin form .spaceLogin { margin-right: 25px; }
.content .contentLogin form .loginRegister { display: block; margin-bottom: 20px; }
.content .contentLogin form input[type='radio'] { margin-bottom: 15px; }
.content .contentLogin form .radioF { margin-left: 20px; }
.content .contentLogin form .linkRegister a { display: inline-block; }
.content .divEtatLoginOk, .content .divEtatLoginNok { margin-top: 100px; margin-left: auto; margin-right: auto; width: 33%; text-align: center; font-size: 20px; padding: 3px; border-radius: 5px; margin-bottom: -6.85%; }
.content .divEtatLoginOk { color: #3C763D; background-color: #DFF0F8; border-color: #D6D9C6; }
.content .divEtatLoginNok { color: #A94442; background-color: #F2DDED; border-color: #EBCCD1; }

.bgdForgotPwd { color: #FFFFFF; background-color: #B72F6B; text-align: center; }
.bgdForgotPwd .titleForgotPwd { margin-top: 0px; margin-bottom: 20px; }
.bgdForgotPwd .infoForgotPwd { width: 50%; margin: 0 auto 0 auto; margin-bottom: 4px; }
.bgdForgotPwd input[type='submit'], .bgdForgotPwd input[type='reset'] { margin-top: 10px; }
.bgdForgotPwd input[type='reset'] { margin-right: 10px; }

@font-face { font-family: 'librarize'; src: url("../images/librarize.eot?p5irvb"); src: url("../images/librarize.eot?p5irvb#iefix") format("embedded-opentype"), url("../images/librarize.ttf?p5irvb") format("truetype"), url("../images/librarize.woff?p5irvb") format("woff"), url("../images/librarize.svg?p5irvb#icomoon") format("svg"); font-weight: normal; font-style: normal; }
body { background-color: #092D3D; }
body header { font-family: 'librarize'; margin-left: auto; margin-right: auto; color: rebeccapurple; text-align: center; font-size: 60px; }
body header .nameOrganization { display: inline-block; color: #FFFFFF; }
body header .nameOrganization:before { content: ""; }
body header .libraryLeftIcon { display: inline-block; color: #FF6664; }
body header .libraryLeftIcon:before { content: ""; }
body header .libraryRightIcon { display: inline-block; color: #FF6664; }
body header .libraryRightIcon:before { content: ""; }
body footer { position: absolute; bottom: 5px; width: 80%; text-align: center; color: #FF6664; margin-left: 10px; font-size: 14px; right: 10%; }
body .menuDiv { background-color: #CCCCCC; width: 80%; margin: 0px auto; height: 35px; line-height: 35px; border-radius: 7px; text-align: center; font-weight: bold; }
body .menuDiv ul { padding: 0px; }
body .menuDiv ul .titleMenu { display: inline-block; list-style-type: none; width: 24%; cursor: pointer; vertical-align: top; position: relative; }
body .menuDiv ul .titleMenu ul { display: none; text-align: left; }
body .menuDiv ul .titleMenu ul li { display: block; width: 100%; background-color: #FFFFFF; height: 40px; border-radius: 5px; margin-top: 5px; line-height: 35px; box-shadow: inset -6px -6px 5px 0px #656565; }
body .menuDiv ul .titleMenu ul li div { width: auto; padding-left: 15px; }
body .menuDiv ul a { color: black; text-decoration: none; }
body .generalContent { background-color: #CCCCCC; width: 80%; margin: 0px auto; border-radius: 5px; padding-bottom: 25px; }
body .generalContent h1:first-child { text-align: center; }

.generalContent { text-align: center; }
.generalContent .msgUpdateUser { margin-left: auto; margin-right: auto; width: 33%; text-align: center; font-size: 20px; padding: 3px; border-radius: 5px; height: 24px; }
.generalContent .msgOk { color: #3C763D; background-color: #DFF0F8; border-color: #D6D9C6; }
.generalContent .msgNok { color: #A94442; background-color: #F2DDED; border-color: #EBCCD1; }
.generalContent .formUpdateUserInformations input[type='reset'] { margin-right: 5%; }
.generalContent .formUpdateUserInformations .userInformations { padding-top: 4%; }
.generalContent .formUpdateUserInformations .userInformations .userInformationsLeft, .generalContent .formUpdateUserInformations .userInformations .userInformationsRight { width: 35%; display: inline-block; vertical-align: top; text-align: center; }
.generalContent .formUpdateUserInformations .userInformations .userInformationsLeft { margin-right: 10%; }
.generalContent .formUpdateUserInformations .userInformations span { display: block; margin-bottom: 30px; }
.generalContent .formUpdateUserInformations .userInformations span label { display: inline-block; width: 60px; font-weight: bold; text-align: left; }
.generalContent .formUpdateUserInformations .userInformations span input[type='text'], .generalContent .formUpdateUserInformations .userInformations span input[type='email'] { display: inline-block; width: 50%; }

.contentChangePwd .formForgotPwd input[type='password'] { width: 230px; }
.contentChangePwd .formForgotPwd .changePwdStep2 { display: none; }
